.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height:fit-content;
    border-radius:10px;

}
.top-section, .bottom-section{
    padding:20px;
    height:50%;
}
.top-section{
    background-size:cover;
    background-repeat:no-repeat;
    height: 300px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    
}
.badge{
    background: #64318A;
    color: #fff;
    padding:20px;
    display: inline-block;
}
.bottom-section .text-section{
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

}
.bottom-section{
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* align-items:center; */
    padding:10px 20px;
    gap: 0.5rem;
}
.bottom-section >h1{
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    padding:10px 0;
    text-align: center;

}
.learn-more-btn{
    background: #64318A;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    margin: 10px auto;
    padding: 10px 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0.5rem;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Cera Pro';
}
