.Step3SubComp-wrapper{
    margin-bottom:100px;
}
.step3-utils-form-wrapper{
    width:100%;
}
.range-input{
    padding:0 30px; 
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 14px;
    line-height: 126%;
    letter-spacing: -0.02em;
    color: #282828; 
    display:flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.selected-price-range{
    text-align: center;
}
.price-range{
    display:flex;
    justify-content:space-between;
}
.step3UtilsForm{
    display:flex;
    flex-direction: row;
    /*gap:3rem;*/
    padding:30px;
}
.step3UtilsForm > div{
    width:100%;
    display: flex;
    flex-direction:column;
    gap:1rem;
}
.inputWrapper{
    width:90%;
    padding:20px;
}
.st-4-grid{
    display:grid;
    grid-template-columns: 1fr;
    gap:1rem;
    padding:8%;
}
.st-4-grid-boxes{
    border: 1px solid #64318A;
    padding:25px 10px;
    height:100px;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    border-radius: 7px;
    cursor: pointer;
}
.st-5-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    padding:8%;
}
.st-5-grid-boxes{
    border: 1px solid #64318A;
    padding:25px 0px;
    height:80px;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    border-radius: 7px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .Step3SubComp-wrapper{
        margin-bottom:40px;
    }
    .step3UtilsForm{
        flex-wrap: wrap;
        gap:1rem;
        padding:0px;
    }
    .step3UtilsForm > div{
        width:46%;
    }
    .range-input{
        padding:0;
    }
    .breakline{
        display:none;
    }
    
}

@media screen and (min-width: 768px) {
    .inputWrapper{
        width:90%;
        padding:50px;
    }
    .st-4-grid{
        grid-template-columns:1fr 1fr;
        gap:1rem;

    }
    .st-4-grid-boxes{
        padding:25px 20px;
        height:150px;
    }
    .st-5-grid{
        grid-template-columns: 1fr 1fr 1fr;
        gap:2rem;
        padding:8%;
    }
   
}