.paper{
    height:fit-content;
    border-radius:10px;

}
.paper-top-section, .paper-bottom-section{
    padding:20px;
    height:50%;
}
.paper-top-section{
    height: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.paper-bottom-section .text-section{
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

}
.text-section{
    color: #282828;
}
.paper-bottom-section{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 0.5rem;

}
.paper-bottom-section >h1{
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    padding:10px 0;
    text-align: center;
    padding-top: 0;

}

