.custom-select {
    position: relative;
    font-family: Arial;
    width:85%;
    margin:30px 0;
    margin-left: 20px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: transparent;
  
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000 transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #000;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
      border-bottom:1px solid #000;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background: rgba(100, 49, 138, 1);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    color:#FFF;
  }
  .select-items div{
    color:#FFF;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }


  @media screen and (max-width: 768px) {
    .select-items div,.select-selected {
            color:#000;
          border-bottom:1px solid #000;
      }
      .select-items {
       
        background-color: lightblue;
      
      }
      .select-selected:after {
        border-color: #000 transparent transparent transparent;
      }
     
    
  }