.NavBarWrapper{
    position: sticky;
    background-color: #fff;
    z-index: 999999;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.5rem 3%;
    width: 100%;
    height: 80px;
    display: flex;
}
.NavLogoLink img{
    width: 100%;
    height: 100%;
}
.CreateAccountLink{
    display: none;
}
.MenuIconBar{
    display: none;
}
.NavItemList{
    width:68%;
    display:flex;
    justify-content:space-between;

}
.NavLinkHome{
    font-size: 0.8rem;
    display: none;
    text-decoration: none;
    padding: 0;
    height: 10%;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
   
}
.NavLinkHome:hover{
    color: #090458;
    transition: all 0.4s ease;
}
.NavLink{
    color: #363636;
    font-size: 14px;
    /*font-size: 0.8rem;*/
    display: flex;
    text-decoration: none;
    padding: 0 0.5rem;
    height: 10%;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
    flex-direction: column;
    font-family:'Cera Pro';
}
.NavLink:hover{
    color: #090458;
    transition: all 0.4s ease;
}
.NavBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    width: 100%;
}
.BtnLink{
    background:black;
    padding: 10px 20px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Cera Pro';
}
.BtnLink:hover{
    cursor: pointer;
    opacity: 0.7;
}
.MenuIconBar{
  display: none;

}




@media screen and (max-width: 768px) {
    .NavBarWrapper{
        width: 100%;
    }
    .NavLogoLink{
        width: 40%;
        
}
    .CreateAccountLink{
        display: block;
        background:#64318A;
        border-radius: 5px;
        color:#fff;
        margin-right:35px;
        text-decoration: none;
        padding:5px 10px;
        font-family: 'Cera Pro';
        font-weight: 500;
        font-size: 12px;
        position: absolute;
        right: 20px;
    }
    .MenuIconBar{
        display: block;
        position: absolute;
        top: 0;
        right: 30px;
        z-index: 1000;
        transform: translate(-100%, 10%);
        font-size: 3rem;
        cursor: pointer;
        color: black;
    }
    .NavItemList{
        height: 100vh;
        padding-bottom: 50px;
        display: flex;
        padding:0;
    }
    .NavLink{
        width: 100%;
        padding: 0.1rem;
        font-family: 'Cera Pro';
        font-weight: 500;
        font-size: 16px;
        color: #64318A;
    }
    .NavBtn{
        justify-content: left;
        flex-direction: column;
        align-items: left;
        border-top: 1px solid #DDDDDD;
        /* background:#fff; */
    }
    .BtnLink{
        padding:0;
        background:transparent;
    }
    .MenuIconBar{
        display: block;
        position: absolute;
        top: 0;
        right: 0px;
        /* z-index: 1000; */
        transform: translate(-100%, 10%);
        font-size: 3rem;
        cursor: pointer;
        color: black;
    }
    .NavLinkHome{
        display: block;

       
    }
}

    









