.header__info{
    border-radius:10px;
     height: 5px;
     width:100%; 
     background-color: #D9D9D9;
     border:none;
}

@media only screen and (max-width: 600px){
    .header__info{
    display:flex;
    border-radius:5px;

}
}
.personal__headinfo{
    border-radius:10px;
    background:#64318A;
    height:5px;
    width:100%;
    gap:70px;
    border:none;
}
@media only screen and (max-width: 600px){
    #personal__headinfo{
    display:flex;
    border-radius:5px;

}
}
/* <<<<<<Body styling>>>>>> */
#persona__four{
    font-style:normal;
    font-family:sans-serif;
    font-weight:500;
    font-size:18px;
    display: flex;
    flex-direction:row;
    line-height:18px;
    margin-left:19px;
    padding-left:2%;
    color: #282828;
}
#first__upload{
    border:3px dashed #DDDDDD;
    border-radius: 15px;
    width: 500px;
    height: 86px;
    left: 476px;
    top: 675px;
    box-sizing: border-box;
    
}
#second__upload{
    border:3px dashed #DDDDDD;
    border-radius: 15px;
    width: 500px;
    height: 86px;
    left: 476px;
    top: 675px;
    box-sizing: border-box;
}

#label__words{
    color:#64318A;
    width: 415px;
    height: 36px;
    left: 519px;
    top: 700px;

    font-family:sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}


#labeltwo__words{
    /* width: 159px; */
    height: 36px;
    left: 647px;
    top: 815px;
    
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #64318A;
    text-align: center;
}
/* input::placeholder{
    color: #ABACB2;

} */

#myfile{
    display:none;
}