.header__info{
    border-radius:10px;
     height: 5px;
     width:100%; 
     background-color: #D9D9D9;
     border:none;
}

@media only screen and (max-width: 600px){
    .header__info{
    display:flex;
    border-radius:5px;

}
}
.personal__headinfo{
    border-radius:10px;
    background:#64318A;
    height:5px;
    width:100%;
    gap:70px;
    border:none;
}
@media only screen and (max-width: 600px){
    #personal__headinfo{
    display:flex;
    border-radius:5px;

}
}
@media only screen and (max-width: 600px){
    body{
        background-color:#ffffff;

}
}
h1{
    width: 100%;
    height: 45px;
    left: 531px;
    top: 434px;
    justify-content: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #282828;
}

#persona__two{
    font-style:normal;
    font-family:sans-serif;
    font-weight:500;
    font-size:18px;

    line-height:18px;
    margin-left:19px;
    padding-left:2%;
    color: #282828;

}