@media only screen and (max-width: 600px){
    .header__img{
        display:flex;
        flex-direction:column;
        width:100%;
        gap:1px;
        text-align: center;
        line-height: 11px;
        font-size: 9px;
        font-style: normal;
        font-weight: 300;
    }
}
.header__info{
    border-radius:10px;
    height: 5px;
    width:100%; 
    background-color: #D9D9D9;
    border:none;
}

@media only screen and (max-width: 600px){
    .header__info{
        display:flex;
        border-radius:5px;
    }
}

.personal__headinfo{
    border-radius:10px;
    background:#64318A;
    height:5px;
    width:100%;
    gap:70px;
    border:none;
}


@media only screen and (max-width: 600px){
    #personal__headinfo{
        display:flex;
        border-radius:5px;
    }
}

/* <<<<<<Body styling>>>>>> */
#persona__five{
    font-style:normal;
    font-family:sans-serif;
    font-weight:500;
    font-size:18px;
    display: flex;
    flex-direction:row;
    line-height:18px;
    margin-left:19px;
    padding-left:2%;
    color: #282828;

}
#cancel__btn{
    border-radius: 7px;
    color: #282828;
    width: 8.75rem;
    height: 61px;
    left: 480px;
    top: 1230px;
    border: 1px solid #64318A;
    font-family:sans-serif;
    margin-left:5px;
}
#finish__btn{
    width:70%;
    height: 61px;
    left: 07px;
    top: 1230px;
    background: #64318A;
    border-radius: 7px;
    gap:15%;
    color: #FFFFFF;
    font-family:sans-serif;
    margin-left:10px;


}
