*{
    /* overflow-x: hidden; */
}
.grid-box{
    width: 90%;
    margin: 50px auto;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.card{
    width:30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height:470px;
    border-radius:10px;
    text-decoration: none;
    color: #000;
    margin:1.3%;
}
.home-card{
    width:24%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px;
    height:470px;
    border-radius:10px;
    text-decoration: none;
    color: #000;
    margin:.5%;
}
.home-card-3{
    width:33.3%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px;
    height:470px;
    border-radius:10px;
    text-decoration: none;
    color: #000;
    margin:.5%;
}
.top-section{
    padding:10px 20px;
    height:200px;
    position:relative;
}
.bottom-section{
    padding:10px 10px;
    height:200px;
    position:relative;
}
.sale-status{
    padding:6px 8px;
    position:absolute;
    color:#FFF;
    top:-20px;
    right:10px;
    font-family:'Cera Medium';
    font-size:12px;
}
.sale-status.sold{
    background:#D32318;
}
.sale-status.available{
    background:#18D31F;
}
.top-section{
    /* background-image:url("/public/img/Rectangle1.png"); */
    background-size:cover;
    background-repeat:no-repeat;
    height: 200px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    margin-bottom:40px;
}
.badge{
    background: #64318A;
    color: #fff;
    padding:8px 10px;
    display: inline-block;
    font-family:'Cera Pro';
    position:absolute;
    top:10px;
    left:10px;
    font-size:12px;
    border-radius:20px;
}
.badge-bottom{
    background: #64318A;
    color: #fff;
    padding:8px 10px;
    display: inline-block;
    font-family:'Cera Pro';
    position:absolute;
    top:10px;
    left:100px;
    font-size:12px;
    border-radius:20px;
}
.bottom-section p{
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    white-space:normal;
}
.bottom-section >h3{
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.bottom-section ul{
    display: flex;
    padding:0;
    font-family: 'Cera Pro';
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.bottom-section ul{
    white-space:nowrap;
}
.bottom-section ul li{
    display:inline-block;
    margin-right:15px;
}
.bottom-section ul li:last-child{
    margin-right:0;
}
.key-values{
    padding:0;

}
.key-values >div{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.key-values div span{
    display:inline-block;
    font-family: 'Cera Pro';
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color:grey
}
.key-values h3{
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #282828;
}
.pool-price-box{
    width:100%;
    padding:5px 0 5px 0;
    margin:0;
    display:flex;
    flex-direction:row;
}
.pool-price-box-item{
    width:50%;
    padding:0 5px 0 0;
    margin:0 !important;
    text-align:left;
}
.pool-price-box-item:nth-child(2){
    padding:0;
}
.pagination{
    width:100%;
    display:inline-block;
    margin-top:30px;
}
.pagination strong{    
    min-width:30px;
    max-width:100px;
    line-height:30px;
    margin-right:10px;
    display:inline-block;
    font-family:'Cera Pro';
    font-size:14px;
    color:#333;
    border:1px solid #64318A;
    border-radius:2px;
    text-align:center;
    padding:5px;
}
.pagination a{
    min-width:30px;
    max-width:100px;
    line-height:30px;
    margin-right:5px;
    border:1px solid transparent;
    display:inline-block;
    font-family:'Cera Pro';
    font-size:14px;
    background:#64318A;
    color:#fff;
    border-radius:2px;
    text-align:center;
    text-decoration:none;
    padding:5px;
}
.price-box{
    width:150px;
}
.prop-search-bar{
    width:100%;
    padding:5px;
    border-radius:5px;
    display:flex;
    flex-direction:row;
}
.properties-search-boxes{
    width:25%;
    padding:10px;
    border-radius:5px;
    background:#333;
}
@media(max-width:900px){
    .card{
        width:48%;
        margin:1%;
    }
    .home-card{
        width:300px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px;
        height:470px;
        border-radius:10px;
        text-decoration: none;
        color: #000;
        margin:1%;
        flex-shrink:0;
    }
    .home-card-3{
        width:300px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px;
        height:470px;
        border-radius:10px;
        text-decoration: none;
        color: #000;
        margin:1%;
        flex-shrink:0;
    }
}
@media(max-width:700px){
    .card{
        width:100%;
        margin:1%;
    }
}