.container {
    z-index: 100;
    width: 95%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    /* justify-content:center ; */
    width: 70%;
    list-style: none;
    text-align: justify;
    gap: 0;
  }
  .menu-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    /* background:green; */
    /* justify-content: center; */
    gap:1rem;
  }
  .nav-menu-links{
    display:flex;
    width: 100%;
    gap: 1rem;
  
  }
  .small-small-section, .buy-section{ 
    display: flex;
    width:100%;
    gap:2rem;
  }
  .colorChange{
    background-color:#fff;
  }
  
  .login{
    background: #B2A7B7 !important;
  }
  .signup{
    background: #64318A !important;
  }
  .icon-logo{
    display:none;
  }
  .buy-section{
    flex-direction: row-reverse;
    justify-content:center;
    align-items: center;
  }
  
  @media screen and (max-width: 960px) {
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0%;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      padding:0;
  
    }
    .menu-wrapper{
      width: 80%;
      background:#fff;
      left: 0;
      position: absolute;
      height:100%;
      padding:0 10px;
      flex-direction:column;
    }
    .nav-menu.active {
      background: rgba(0,0,0,0.5);
      top:0;
      height: 100vh;
      left: 0%;
      opacity: 1;
      transition: all 0.6s ease;
      z-index: 1;
      padding:0;
    }
    .login, .signup{
      display:block;
      width: 100%;
      background:transparent !important;
      color:#64318A !important;
    }
    .navBtn{
      /* padding:0px 10px;*/
      padding-top: 30px; 
  
    }
    .small-small-section, .nav-menu-links{ 
      flex-direction: column;
      border-top: 1px solid #DDDDDD;
      padding-top: 30px;
    }
    .small-small-section, .nav-menu-links{ 
      padding-bottom: 20px;
    }
    .buy-section{ 
      gap:0rem;
    }
    .buy-section{
      flex-direction: column;
      justify-content:center;
      align-items:flex-start;
      /* padding-top: 20px; */
    }
    .icon-logo{
      display:flex;
      justify-content:space-between;
      align-items:center;
      width: 100%;
      /* background:green; */
      flex-direction: row;
      /* height:20%; */
      padding:0 0 0 0;
    }
    .icon-logo img{
      width:40%;
    }
    .nav-menu-links{
      gap: 1.5rem;
    
    }
  
  }
  