.range-container {
  	width: 90%;
	margin:30px auto;	
	position:relative;	
	height:30px;
	position:relative;
}
.percentage-container{
    width:50px;
    line-height:50px;
    position:absolute;
    right:0;
    top:-50px;
    font-family:'Cera Pro';
    font-size:14px;
    text-align:center;
}
.scale{
	position:relative;	
	width:100%;	
	height:25px;	
}
.mark{
	width:8.3%;	
	height:100%;	
	float:left;	
	position:relative;	
}
.rulings{
	width:15px;
	height:15px;
	position:absolute;
	right:-12.5px;
	top:0;
	font-size:13px;
	color:#64318A;
	text-align:center;
	margin-top:5px;
	font-family:'Cera Pro';
}
.rulings-left{
	width:15px;
	height:15px;
	position:absolute;
	left:0;
	top:0;
	font-size:13px;
	color:#64318A;
	text-align:center;
	margin-top:5px;
	font-family:'Cera Pro';
	z-index:99;
}
.rulings-right{
	width:15px;
	height:15px;
	position:absolute;
	right:0;
	top:0;
	font-size:13px;
	color:#64318A;
	text-align:center;
	margin-top:5px;
	font-family:'Cera Pro';
	z-index:99;
}
.sliders {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.9;
	-webkit-transition: .2s;
	transition: opacity .2s;	
	position:relative;
}
.sliders:hover {
 	opacity: 1;
}
.sliders::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%; 
	background: #64318A;
	cursor: pointer;	
	z-index:100;
}
.sliders::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #64318A;
	cursor: pointer;	
	z-index:100; 
}
#paymentForm{
	width:200px;
	margin:auto;
}
@media(max-width:900px){
	.range-container {

	  width: 100%;

		margin-right:auto;

		margin-left:auto;

		margin-top:50px;

		margin-bottom:60px;

		position:relative;

		height:30px;

	}
	.sliders::-webkit-slider-thumb {

		-webkit-appearance: none;

		appearance: none;

		width: 20px;

		height: 20px;

		border-radius: 50%;

		background: #16163D;

		cursor: pointer;

		z-index:100;
	}
	.sliders::-moz-range-thumb {

		width: 20px;

		height: 20px;

		border-radius: 50%;

		background: #16163D;

		cursor: pointer;

		z-index:100; 

	}
	.sliders {

	  -webkit-appearance: none;

	  width: 100%;

	  height: 10px;

	  border-radius: 5px;

	  background: #d3d3d3;

	  outline: none;

	  opacity: 0.7;

	  -webkit-transition: .2s;

	  transition: opacity .2s;

		position:relative;

	}
	.rulings{
		width:20px;
		height:20px;
		position:absolute;
		right:-10px;
		top:0;
		font-size:10px;
		color:#16163D;
		text-align:center;
		margin-top:25px;
		font-family:'Cera Pro';
	}
	.rulings-left{
		width:20px;
		height:20px;
		position:absolute;
		left:0;
		top:0;
		font-size:10px;
		color:#16163D;
		text-align:center;
		margin-top:25px;
		font-family:'Cera Pro';
		z-index:99;
	}
}